:root {
	--bh_color_main: #171C60;
	--bh_color_sub: #006835;
	--bh_color_point: #ff8953;
	--bh_color_red: #f63440;
	--bh_color_blue: #0058a6;
	--bh_color_text: #424242;
	--bh_color_white: white;
	--bh_color_black: black;
	--bh_color_gray_50: #fafafa;
	--bh_color_gray_100: #f5f5f5;
	--bh_color_gray_200: #eeeeee;
	--bh_color_gray_300: #e0e0e0;
	--bh_color_gray_400: #bdbdbd;
	--bh_color_gray_500: #9e9e9e;
	--bh_color_gray_600: #757575;
	--bh_color_gray_700: #616161;
	--bh_color_gray_800: #424242;
	--bh_color_gray_900: #212121;
}
.bh_color_main{
    color:  var(--bh_color_main);
}
.bh_color_sub{
    color: var(--bh_color_sub);
}
.bh_color_white{
    color: var(--bh_color_white);
}
.body{
    overflow: hidden;
}
@media (max-width: 992px) {
    .body{
        margin-top: 50px;
    }
}
.bh_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .gutters-5 {
    margin-right: -5px;
    margin-left: -5px;
  }
  .gutters-5 > .col,
  .gutters-5 > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
  .gutters-10 {
    margin-right: -10px;
    margin-left: -10px;
  }
  .gutters-10 > .col,
  .gutters-10 > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
  .gutters-20 {
    margin-right: -20px;
    margin-left: -20px;
  }
  .gutters-20 > .col,
  .gutters-20 > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
  }
  .col-1,
  .col-2,
  .col-2_5,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-md-1,
  .col-md-2,
  .col-md-2_5,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-2_5,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-2_5,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-2_5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media (max-width: 992px) {
    .m-gutters-5 {
      margin-right: -5px;
      margin-left: -5px;
    }
    .m-gutters-5 > .col,
    .m-gutters-5 > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
    .m-gutters-10 {
      margin-right: -10px;
      margin-left: -10px;
    }
    .m-gutters-10 > .col,
    .m-gutters-10 > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-2_5 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 992px) {
    .col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .col-lg-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-lg-2_5 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-lg-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-lg-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-lg-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-lg-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
.bh_wrap{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.ds-b {
    display: block !important;
  }
  .ds-n {
    display: none !important;
  }
  .ds-i {
    display: inline !important;
  }
  .ds-ib {
    display: inline-block !important;
  }
  .ds-f {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .ds-if {
    display: inline-flex !important;
  }
  .bh-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .bh-flex-inline-flex {
    display: inline-flex !important;
  }
  .bh-flex-flex-r {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .bh-flex-flex-r-r {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .bh-flex-flex-c {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .bh-flex-flex-c-r {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .bh-flex-flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .bh-flex-flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .bh-flex-flex-wrap-r {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .bh-flex-flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .span-pb-mi {
    display: block;
  }
  .m-yes {
    display: none;
  }
  .fl-l {
    float: left !important;
  }
  .fl-r {
    float: right !important;
  }
  .fl-u {
    float: unset !important;
  }
  .ta-l {
    text-align: left !important;
  }
  .ta-c {
    text-align: center !important;
  }
  .ta-r {
    text-align: right !important;
  }
  .ta-j {
    text-align: justify;
    word-wrap: normal;
    word-break: normal;
  }
  .jc-c {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .jc-e {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .jc-a {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .jc-b {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .ai-c {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .ai-e {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .as-c {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .as-e {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .va-m {
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .w-100{
    width: 100%;
  }
  @media (max-width: 992px) {
    .m-w-100 {
      width: 100% !important;
    }
    .m-w-a {
      width: auto !important;
    }
    .m-h-100 {
      height: 100% !important;
    }
    .m-h-a {
      height: auto !important;
    }
    .m-ds-b {
      display: block !important;
    }
    .m-ds-n {
      display: none !important;
    }
    .m-ds-i {
      display: inline !important;
    }
    .m-ds-ib {
      display: inline-block !important;
    }
    .m-ds-f {
      display: -ms-flexbox !important;
      display: flex !important;
    }
    .m-fl-u {
      float: unset !important;
    }
    .m-ta-l {
      text-align: left !important;
    }
    .m-ta-c {
      text-align: center !important;
    }
    .m-ta-r {
      text-align: right !important;
    }
    .m-ta-j {
      text-align: justify;
    }
    .m-flex-r {
      -ms-flex-direction: row !important;
      flex-direction: row !important;
    }
    .m-flex-r-r {
      -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
    }
    .m-flex-c {
      -ms-flex-direction: column !important;
      flex-direction: column !important;
    }
    .m-flex-c-r {
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
    }
    .m-jc-c {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }
    .m-jc-e {
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;
    }
    .m-jc-a {
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
    }
    .m-jc-b {
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
    }
    .m-ai-c {
      -ms-flex-align: center !important;
      align-items: center !important;
    }
    .m-ai-e {
      -ms-flex-align: end !important;
      align-items: flex-end !important;
    }
    .m-as-c {
      -ms-flex-item-align: center !important;
      align-self: center !important;
    }
    .m-as-e {
      -ms-flex-item-align: end !important;
      align-self: flex-end !important;
    }
  }
.lh-1_4{
    line-height: 1.4 !important;
}
.fw-b{
    font-weight: 700;
}
.fw-m{
    font-weight: 500;
}
.fw-l{
    font-weight: 300;
}
.h-100{
    height: 100%;
}
.po-r{
    position: relative !important;
}
.pd-0 {
    padding: 0 !important;
  }
  .pd-5 {
    padding: 5px !important;
    padding: 0.5rem !important;
  }
  .pd-10 {
    padding: 10px !important;
    padding: 1rem !important;
  }
  .pd-15 {
    padding: 15px !important;
    padding: 1.5rem !important;
  }
  .pd-20 {
    padding: 20px !important;
    padding: 2rem !important;
  }
  .pd-30 {
    padding: 30px !important;
    padding: 3rem !important;
  }
  .pd-40 {
    padding: 40px !important;
    padding: 4rem !important;
  }
  .pd-50 {
    padding: 50px !important;
    padding: 5rem !important;
  }
  .pd-60 {
    padding: 60px !important;
    padding: 6rem !important;
  }
  .pd-70 {
    padding: 70px !important;
    padding: 7rem !important;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .pt-5 {
    padding-top: 5px !important;
    padding-top: 0.5rem !important;
  }
  .pt-10 {
    padding-top: 10px !important;
    padding-top: 1rem !important;
  }
  .pt-15 {
    padding-top: 15px !important;
    padding-top: 1.5rem !important;
  }
  .pt-20 {
    padding-top: 20px !important;
    padding-top: 2rem !important;
  }
  .pt-30 {
    padding-top: 30px !important;
    padding-top: 3rem !important;
  }
  .pr-0 {
    padding-right: 0px !important;
  }
  .pr-5 {
    padding-right: 5px !important;
    padding-right: 0.5rem !important;
  }
  .pr-10 {
    padding-right: 10px !important;
    padding-right: 1rem !important;
  }
  .pr-15 {
    padding-right: 15px !important;
    padding-right: 1.5rem !important;
  }
  .pr-20 {
    padding-right: 20px !important;
    padding-right: 2rem !important;
  }
  .pr-30 {
    padding-right: 30px !important;
    padding-right: 3rem !important;
  }
  .pb-0 {
    padding-bottom: 0px !important;
  }
  .pb-5 {
    padding-bottom: 5px !important;
    padding-bottom: 0.5rem !important;
  }
  .pb-10 {
    padding-bottom: 10px !important;
    padding-bottom: 1rem !important;
  }
  .pb-15 {
    padding-bottom: 15px !important;
    padding-bottom: 1.5rem !important;
  }
  .pb-20 {
    padding-bottom: 20px !important;
    padding-bottom: 2rem !important;
  }
  .pb-30 {
    padding-bottom: 30px !important;
    padding-bottom: 3rem !important;
  }
  .pb-40 {
    padding-bottom: 40px !important;
    padding-bottom: 4rem !important;
  }
  .pb-50 {
    padding-bottom: 50px !important;
    padding-bottom: 5rem !important;
  }
  .pb-60 {
    padding-bottom: 60px !important;
    padding-bottom: 6rem !important;
  }
  .pb-70 {
    padding-bottom: 70px !important;
    padding-bottom: 7rem !important;
  }
  .pb-80 {
    padding-bottom: 80px !important;
    padding-bottom: 8rem !important;
  }
  .pb-90 {
    padding-bottom: 90px !important;
    padding-bottom: 9rem !important;
  }
  .pb-100 {
    padding-bottom: 100px !important;
    padding-bottom: 10rem !important;
  }
  .pl-0 {
    padding-left: 0px !important;
  }
  .pl-5 {
    padding-left: 5px !important;
    padding-left: 0.5rem !important;
  }
  .pl-10 {
    padding-left: 10px !important;
    padding-left: 1rem !important;
  }
  .pl-15 {
    padding-left: 15px !important;
    padding-left: 1.5rem !important;
  }
  .pl-20 {
    padding-left: 20px !important;
    padding-left: 2rem !important;
  }
  .pl-30 {
    padding-left: 30px !important;
    padding-left: 3rem !important;
  }
  .pl-40 {
    padding-left: 40px !important;
    padding-left: 4rem !important;
  }
  .pl-50 {
    padding-left: 50px !important;
    padding-left: 5rem !important;
  }
  .pl-60 {
    padding-left: 60px !important;
    padding-left: 6rem !important;
  }
  .pl-70 {
    padding-left: 70px !important;
    padding-left: 7rem !important;
  }
  .pl-80 {
    padding-left: 80px !important;
    padding-left: 8rem !important;
  }
  .pl-90 {
    padding-left: 90px !important;
    padding-left: 9rem !important;
  }
  .pl-100 {
    padding-left: 100px !important;
    padding-left: 100rem !important;
  }
  .px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .px-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .px-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .px-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .px-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .py-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .py-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .mg-a {
    margin: auto !important;
  }
  .mg-0-a {
    margin: 0 auto !important;
  }
  .mg-0 {
    margin: 0 !important;
  }
  .mg-5 {
    margin: 5px !important;
    margin: 0.5rem !important;
  }
  .mg-10 {
    margin: 10px !important;
    margin: 1rem !important;
  }
  .mg-15 {
    margin: 15px !important;
    margin: 1.5rem !important;
  }
  .mg-20 {
    margin: 20px !important;
    margin: 2rem !important;
  }
  .mg-30 {
    margin: 30px !important;
    margin: 3rem !important;
  }
  .mt-a {
    margin-top: auto !important;
  }
  .mt-0 {
    margin-top: 0px !important;
  }
  .mt-5 {
    margin-top: 5px !important;
    margin-top: 0.5rem !important;
  }
  .mt-10 {
    margin-top: 10px !important;
    margin-top: 1rem !important;
  }
  .mt-15 {
    margin-top: 15px !important;
    margin-top: 1.5rem !important;
  }
  .mt-20 {
    margin-top: 20px !important;
    margin-top: 2rem !important;
  }
  .mt-30 {
    margin-top: 30px !important;
    margin-top: 3rem !important;
  }
  .mt-40 {
    margin-top: 40px !important;
    margin-top: 4rem !important;
  }
  .mt-50 {
    margin-top: 50px !important;
    margin-top: 5rem !important;
  }
  .mt-60 {
    margin-top: 60px !important;
    margin-top: 6rem !important;
  }
  .mt-70 {
    margin-top: 70px !important;
    margin-top: 7rem !important;
  }
  .mt-80 {
    margin-top: 80px !important;
    margin-top: 8rem !important;
  }
  .mt-90 {
    margin-top: 90px !important;
    margin-top: 9rem !important;
  }
  .mt-100 {
    margin-top: 100px !important;
    margin-top: 10rem !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .mr-5 {
    margin-right: 5px !important;
    margin-right: 0.5rem !important;
  }
  .mr-10 {
    margin-right: 10px !important;
    margin-right: 1rem !important;
  }
  .mr-15 {
    margin-right: 15px !important;
    margin-right: 1.5rem !important;
  }
  .mr-30 {
    margin-right: 30px !important;
    margin-right: 3rem !important;
  }
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mb-5 {
    margin-bottom: 5px !important;
    margin-bottom: 0.5rem !important;
  }
  .mb-10 {
    margin-bottom: 10px !important;
    margin-bottom: 1rem !important;
  }
  .mb-15 {
    margin-bottom: 15px !important;
    margin-bottom: 1.5rem !important;
  }
  .mb-20 {
    margin-bottom: 20px !important;
    margin-bottom: 2rem !important;
  }
  .mb-25 {
    margin-bottom: 25px !important;
    margin-bottom: 2.5rem !important;
  }
  .mb-30 {
    margin-bottom: 30px !important;
    margin-bottom: 3rem !important;
  }
  .mb-35 {
    margin-bottom: 35px !important;
    margin-bottom: 3.5rem !important;
  }
  .mb-40 {
    margin-bottom: 40px !important;
    margin-bottom: 4rem !important;
  }
  .mb-45 {
    margin-bottom: 45px !important;
    margin-bottom: 4.5rem !important;
  }
  .mb-50 {
    margin-bottom: 50px !important;
    margin-bottom: 5rem !important;
  }
  .mb-55 {
    margin-bottom: 55px !important;
    margin-bottom: 5.5rem !important;
  }
  .mb-60 {
    margin-bottom: 60px !important;
    margin-bottom: 6rem !important;
  }
  .mb-65 {
    margin-bottom: 65px !important;
    margin-bottom: 6.5rem !important;
  }
  .mb-70 {
    margin-bottom: 70px !important;
    margin-bottom: 7rem !important;
  }
  .mb-75 {
    margin-bottom: 75px !important;
    margin-bottom: 7.5rem !important;
  }
  .mb-80 {
    margin-bottom: 80px !important;
    margin-bottom: 8rem !important;
  }
  .mb-85 {
    margin-bottom: 85px !important;
    margin-bottom: 8.5rem !important;
  }
  .mb-90 {
    margin-bottom: 90px !important;
    margin-bottom: 9rem !important;
  }
  .mb-95 {
    margin-bottom: 95px !important;
    margin-bottom: 9.5rem !important;
  }
  .mb-100 {
    margin-bottom: 100px !important;
    margin-bottom: 10rem !important;
  }
  .ml-0 {
    margin-left: 0px !important;
  }
  .ml-5 {
    margin-left: 5px !important;
    margin-left: 0.5rem !important;
  }
  .ml-10 {
    margin-left: 10px !important;
    margin-left: 1rem !important;
  }
  .ml-15 {
    margin-left: 15px !important;
    margin-left: 1.5rem !important;
  }
  .ml-20 {
    margin-left: 20px !important;
    margin-left: 2rem !important;
  }
  .ml-30 {
    margin-left: 30px !important;
    margin-left: 3rem !important;
  }
  .mx-a {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mx-5 {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .mx-10 {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .mx-15 {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .mx-30 {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  @media (max-width: 992px) {
    .m-pd-0 {
      padding: 0 !important;
    }
    .m-pd-5 {
      padding: 5px !important;
    }
    .m-pd-10 {
      padding: 10px !important;
    }
    .m-pd-15 {
      padding: 15px !important;
    }
    .m-pd-20 {
      padding: 20px !important;
    }
    .m-pt-0 {
      padding-top: 0px !important;
    }
    .m-pt-5 {
      padding-top: 5px !important;
    }
    .m-pt-10 {
      padding-top: 10px !important;
    }
    .m-pt-15 {
      padding-top: 15px !important;
    }
    .m-pr-0 {
      padding-right: 0px !important;
    }
    .m-pr-15 {
      padding-right: 15px !important;
    }
    .m-pb-0 {
      padding-bottom: 0px !important;
    }
    .m-pb-5 {
      padding-bottom: 5px !important;
    }
    .m-pb-10 {
      padding-bottom: 10px !important;
    }
    .m-pb-15 {
      padding-bottom: 15px !important;
    }
    .m-pl-0 {
      padding-left: 0px !important;
    }
    .m-pl-15 {
      padding-left: 15px !important;
    }
    .m-px-0 {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .m-px-5 {
      padding-right: 5px !important;
      padding-left: 5px !important;
    }
    .m-px-10 {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
    .m-px-15 {
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
    .m-px-30 {
      padding-right: 30px !important;
      padding-left: 30px !important;
    }
    .m-py-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .m-py-5 {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    .m-py-10 {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    .m-py-15 {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
    }
    .m-py-30 {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
  
    .m-mg-a {
      margin: auto !important;
    }
    .m-mg-0-a {
      margin: 0 auto !important;
    }
    .m-mg-0 {
      margin: 0 !important;
    }
    .m-mg-5 {
      margin: 5px !important;
    }
    .m-mg-10 {
      margin: 10px !important;
    }
    .m-mg-15 {
      margin: 15px !important;
    }
    .m-mg-20 {
      margin: 20px !important;
    }
    .m-mt-0 {
      margin-top: 0px !important;
    }
    .m-mt-5 {
      margin-top: 5px !important;
    }
    .m-mt-10 {
      margin-top: 10px !important;
    }
    .m-mt-20 {
      margin-top: 20px !important;
    }
    .m-mt-30 {
      margin-top: 30px !important;
    }
    .m-mr-0 {
      margin-right: 0 !important;
    }
    .m-mb-0 {
      margin-bottom: 0px !important;
    }
    .m-mb-5 {
      margin-bottom: 5px !important;
    }
    .m-mb-10 {
      margin-bottom: 10px !important;
    }
    .m-mb-20 {
      margin-bottom: 20px !important;
    }
    .m-mb-30 {
      margin-bottom: 30px !important;
    }
    .m-ml-0 {
      margin-left: 0px !important;
    }
    .m-mx-0 {
      margin-right: 0px !important;
      margin-left: 0px !important;
    }
    .m-mx-5 {
      margin-right: 5px !important;
      margin-left: 5px !important;
    }
    .m-mx-10 {
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
    .m-mx-15 {
      margin-right: 15px !important;
      margin-left: 15px !important;
    }
    .m-mx-30 {
      margin-right: 30px !important;
      margin-left: 30px !important;
    }
    .m-my-0 {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
    .m-my-5 {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    .m-my-10 {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    .m-my-15 {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }
    .m-my-30 {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
  }
@media (max-width:992px) {
    .col-auto {
        -ms-flex: 0 0 auto !important;
        flex: 0 0 auto !important;
        width: auto !important;
        max-width: none !important;
    }
    .col-2 {
        -ms-flex: 0 0 16.666666% !important;
        flex: 0 0 16.666666% !important;
        max-width: 16.666666% !important;
    }
    .col-3 {
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    .col-4 {
        -ms-flex: 0 0 33.3333333333% !important;
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333% !important;
    }
    .col-6 {
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .col-12 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.ml-bh_wrap {
    margin-left: calc((100vw - 1185px) / 2);
}
@media (max-width: 992px) {
    .ml-bh_wrap {
        margin-left: 0;
    }
}
.fs-12 {
    font-size: 12px !important;
    font-size: 1.2rem !important;
  }
  .fs-13 {
    font-size: 13px !important;
    font-size: 1.3rem !important;
  }
  .fs-14 {
    font-size: 14px !important;
    font-size: 1.4rem !important;
  }
  .fs-15 {
    font-size: 15px !important;
    font-size: 1.5rem !important;
  }
  .fs-16 {
    font-size: 16px !important;
    font-size: 1.6rem !important;
  }
  .fs-17 {
    font-size: 17px !important;
    font-size: 1.7rem !important;
  }
  .fs-18 {
    font-size: 18px !important;
    font-size: 1.8rem !important;
  }
  .fs-19 {
    font-size: 19px !important;
    font-size: 1.9rem !important;
  }
  .fs-20 {
    font-size: 20px !important;
    font-size: 2rem !important;
  }
  .fs-22 {
    font-size: 22px !important;
    font-size: 2.2rem !important;
  }
  .fs-24 {
    font-size: 24px !important;
    font-size: 2.4rem !important;
  }
  .fs-25 {
    font-size: 25px !important;
    font-size: 2.5rem !important;
  }
  .fs-26 {
    font-size: 26px !important;
    font-size: 2.6rem !important;
  }
  .fs-28 {
    font-size: 28px !important;
    font-size: 2.8rem !important;
  }
  .fs-30 {
    font-size: 30px !important;
    font-size: 3rem !important;
  }
  .fs-32 {
    font-size: 32px !important;
    font-size: 3.2rem !important;
  }
  .fs-34 {
    font-size: 34px !important;
    font-size: 3.4rem !important;
  }
  .fs-35 {
    font-size: 35px !important;
    font-size: 3.5rem !important;
  }
  .fs-36 {
    font-size: 36px !important;
    font-size: 3.6rem !important;
  }
  .fs-38 {
    font-size: 38px !important;
    font-size: 3.8rem !important;
  }
  .fs-40 {
    font-size: 40px !important;
    font-size: 4rem !important;
  }
  .fs-42 {
    font-size: 42px !important;
    font-size: 4.2rem !important;
  }
  .fs-44 {
    font-size: 44px !important;
    font-size: 4.4rem !important;
  }
  .fs-45 {
    font-size: 45px !important;
    font-size: 4.5rem !important;
  }
  .fs-46 {
    font-size: 46px !important;
    font-size: 4.6rem !important;
  }
  .fs-48 {
    font-size: 48px !important;
    font-size: 4.8rem !important;
  }
  .fs-50 {
    font-size: 50px !important;
    font-size: 5rem !important;
  }
  .fs-55 {
    font-size: 55px !important;
    font-size: 5.5rem !important;
  }
  .fs-60 {
    font-size: 60px !important;
    font-size: 6rem !important;
  }
  .fs-65 {
    font-size: 65px !important;
    font-size: 6.5rem !important;
  }
  .fs-70 {
    font-size: 70px !important;
    font-size: 7rem !important;
  }
  .fs-75 {
    font-size: 75px !important;
    font-size: 7.5rem !important;
  }
  .fs-80 {
    font-size: 80px !important;
    font-size: 8rem !important;
  }
  .fs-85 {
    font-size: 85px !important;
    font-size: 8.5rem !important;
  }
  .fs-90 {
    font-size: 90px !important;
    font-size: 9rem !important;
  }
  .fs-95 {
    font-size: 95px !important;
    font-size: 9.5rem !important;
  }
  .fs-100 {
    font-size: 100px !important;
    font-size: 10rem !important;
  }
  @media (max-width: 992px) {
    .m-fs-12 {
      font-size: 12px !important;
      font-size: 1.2rem !important;
    }
    .m-fs-13 {
      font-size: 13px !important;
      font-size: 1.3rem !important;
    }
    .m-fs-14 {
      font-size: 14px !important;
      font-size: 1.4rem !important;
    }
    .m-fs-15 {
      font-size: 15px !important;
      font-size: 1.5rem !important;
    }
    .m-fs-16 {
      font-size: 16px !important;
      font-size: 1.6rem !important;
    }
    .m-fs-17 {
      font-size: 17px !important;
      font-size: 1.7rem !important;
    }
    .m-fs-18 {
      font-size: 18px !important;
      font-size: 1.8rem !important;
    }
    .m-fs-19 {
      font-size: 19px !important;
      font-size: 1.9rem !important;
    }
    .m-fs-20 {
      font-size: 20px !important;
      font-size: 2rem !important;
    }
    .m-fs-22 {
      font-size: 22px !important;
      font-size: 2.2rem !important;
    }
    .m-fs-24 {
      font-size: 24px !important;
      font-size: 2.4rem !important;
    }
    .m-fs-25 {
      font-size: 25px !important;
      font-size: 2.5rem !important;
    }
    .m-fs-26 {
      font-size: 26px !important;
      font-size: 2.6rem !important;
    }
    .m-fs-28 {
      font-size: 28px !important;
      font-size: 2.8rem !important;
    }
    .m-fs-30 {
      font-size: 30px !important;
      font-size: 3rem !important;
    }
    .m-fs-32 {
      font-size: 32px !important;
      font-size: 3.2rem !important;
    }
    .m-fs-34 {
      font-size: 34px !important;
      font-size: 3.4rem !important;
    }
    .m-fs-35 {
      font-size: 35px !important;
      font-size: 3.5rem !important;
    }
  }